.hint {
    border: 1px solid #eee;
    width: 150px;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    position: absolute;
    left: 100%;
    top: 0;
}

.playground {
    width: 150px;
    margin: 20vh auto 0;
    /* border: 1px solid gray; */
    position: relative;
}
